@charset "utf-8";

body {
  background: # ffffff;
  text-align: center;
  font-family: sans-serif; 
}

h2 {
  position: relative;
  z-index: 1000;
  margin-top: 10px;
}

.negative_top_margin {
  margin-top: -50px;
}

.graticule {
  fill: none;
  stroke: #999;
  stroke-opacity: .5;
  stroke-width: .5px;
}

.land {
  stroke: #222;
  stroke-width: 0.5px;
  fill: none;
}

.country {
  fill: none;  stroke: #222;  stroke-width: .5px;
}

.country_label {
  text-anchor: 'middle';
  font-size: .6em;
  font-weight: 100;
  stroke: #555;
}

.country_pointer {
  stroke: #555;
  stroke-width: 1.0px;
  fill: none;  
}
