.article {
	font-size: .8em;
	position: absolute;
	left: 0px;
}

.article-caret {
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
}

.article-content {
	display: inline-block;
}

.article-source {
	font-weight: bold;
}

.article-date {
	
}

.article-headline {

}
