line_chart {
  width: 960px;
  margin: auto;
  position: relative;
}

svg.line_chart {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 1.0px;
  shape-rendering: crispEdges;
}

.axis--y path {
  display: none;
}

.axis--event path {
  display: none;
}

.axis--event line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.axis--event text {
  text-anchor: start;
  fill: #000;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  opacity: 0;
}

.event--hitbox path {
  display: none;
}

.event--hitbox line {
  stroke-width: 24px;
  fill: none;
  stroke: #555;
  opacity: 0;
}

.places {
  fill: none;
  stroke: #999;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.place--hover {
  stroke-width: 2.0px;
  stroke: #555;
}

.united-states {
  fill: none;
  stroke: rgb(158,202,225);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;  
}

.united-states--hover {
  stroke-width: 2.0px;  
  stroke: rgb(107,174,214);
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: none;
  pointer-events: all;
}

.voronoi--show path {
  stroke: red;
  stroke-opacity: .2;
}

#form {
  position: absolute;
  top: 20px;
  right: 30px;
}
