= stylesheet_link_tag 'bootstrap.min.css'
= stylesheet_link_tag 'font-awesome.min.css'
= stylesheet_link_tag 'animation-controls.css'

%title The Spread of Ebola: Information and Disease

%div
	%h2 The Spread of Ebola: Information and Disease
	#ebola_chart.negative_top_margin

%div.animation-controls
	.btn-group
		%botton{class: 'btn btn-sm btn-default', style: 'padding: 5px 15px'}
			%i{class: 'fa fa-step-backward fa-2x'}		
		%button{class: 'btn btn-sm btn-default', style: 'padding: 5px 30px'}
			%i{class: 'fa fa-play fa-2x'}
		%botton{class: 'btn btn-sm btn-default', style: 'padding: 5px 15px'}
			%i{class: 'fa fa-step-forward fa-2x'}

= javascript_include_tag "d3", "queue.v1.min", "topojson.v1.min", "ebola_chart"