%title The Spread of Ebola: Information and Disease

%h2 The Spread of Ebola: Information and Disease
#ebola_chart.negative_top_margin

= javascript_include_tag "d3", "queue.v1.min", "topojson.v1.min", "ebola_chart"